/* 페이지 전체를 감싸는 컨테이너 */
#mypage-wrapper {
    position: fixed;
    left: 360px;
    width: 1200px;
    height: 850px;
}

#mypage-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 807px;
    
    overflow-y: scroll;
    overflow-x: hidden;
}

/* 게스트 페이지 css */
.guestMypage-side-bar {
    width: 30%;
    min-width: 250px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: sticky;
}

.guestMypage-main { 
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 700px;
}

.guestMypage-main-title {
    width: 100%;
    height: 100px;
}

.guestMypage-main-detail {
    width: 100%;
    height: 100%;
}
