#accommodation-detail-list-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;

}

.facilitiesCard-component-wrapper,
.location-Card-component-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

